In [8]:
# variable vs. values: 1-on-multiple ( 1 對 多 )
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
print(len(weekdays)) #觀察長度

lucky_numbers = [7, 24, 5566]
print(lucky_numbers)
lucky_numbers.append(87) #新增資料至末端
print(lucky_numbers)
lucky_numbers.pop() #將最末端資料拋出
print(lucky_numbers)
my_fav_group = lucky_numbers.pop()
print(lucky_numbers)
print(my_fav_group) #讀出拋出的最末端資料

5
[7, 24, 5566]
[7, 24, 5566, 87]
[7, 24, 5566]
[7, 24]
5566

In [10]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
weekend = ["Saturday", "Sunday"]
print(weekdays)
print(weekend)

weekend + weekdays # + 連結另一個 list

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Saturday', 'Sunday']

['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [11]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
print(weekdays[0])
print(weekdays[1])
print(weekdays[2])
print(weekdays[3])
print(weekdays[4])

Monday
Tuesday
Wednesday
Thursday
Friday

In [12]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

i = 0 #從開頭數
while i <= 4:
    print(weekdays[i])
    i += 1

Monday
Tuesday
Wednesday
Thursday
Friday

In [13]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

i = -1 #從末端數
while i >= -5:
    print(weekdays[i])
    i -= 1

Friday
Thursday
Wednesday
Tuesday
Monday

In [14]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
weekdays
weekdays[0:3:1]

['Monday', 'Tuesday', 'Wednesday']

In [18]:
cast = ['Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 'Scarlett Johansson', 'Jeremy Renner', 'Don Cheadle', 'Paul Rudd', 'Benedict Cumberbatch', 'Chadwick Boseman', 'Brie Larson', 'Tom Holland', 'Karen Gillan', 'Zoe Saldana', 'Evangeline Lilly']
print(cast[8])
print(cast[-7])

Benedict Cumberbatch
Benedict Cumberbatch

In [20]:
print(len(cast))
print(cast[:6])

15
['Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 'Scarlett Johansson', 'Jeremy Renner']

In [22]:
!pip install -U beautifulsoup4

Requirement already up-to-date: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.9.0)
Requirement already satisfied, skipping upgrade: soupsieve>1.2 in /usr/local/lib/python3.6/dist-packages (from beautifulsoup4) (2.0)

In [0]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://www.imdb.com/title/tt4154796/')
soup = BeautifulSoup(response.text)

In [24]:
cast_list_a = soup.select(".primary_photo+ td a")
print(len(cast_list_a))

15

In [26]:
cast_list = []
print(cast_list)
print(type(cast_list))
print(len(cast_list))

[]
<class 'list'>
0

In [25]:
print(cast_list_a[0].text)
print(cast_list_a[1].text)
print(cast_list_a[2].text)
print(cast_list_a[3].text)
print(cast_list_a[4].text)
print(cast_list_a[5].text)
print(cast_list_a[6].text)
# ...
print(cast_list_a[14].text)

 Robert Downey Jr.

 Chris Evans

 Mark Ruffalo

 Chris Hemsworth

 Scarlett Johansson

 Jeremy Renner

 Don Cheadle

 Evangeline Lilly

In [44]:
import pandas as pd

time_series_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
cumulative_confirmed = list(time_series_df[time_series_df['Country/Region'] == 'Taiwan*'].values.ravel()[4:].astype(int))
print(cumulative_confirmed)

[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440]

In [45]:
import pandas as pd

time_series_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
cumulative_confirmed = list(time_series_df[time_series_df['Country/Region'] == 'Taiwan*'].values.ravel()[4:].astype(int))
cumulative_confirmed_lag = list(time_series_df[time_series_df['Country/Region'] == 'Taiwan*'].values.ravel()[4:].astype(int))
print(cumulative_confirmed)
print(cumulative_confirmed_lag)

[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440]
[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440]

In [46]:
print(len(cumulative_confirmed))
print(cumulative_confirmed[-1])

107
440

In [47]:
cumulative_confirmed_lag.insert(0, 0)
print(len(cumulative_confirmed_lag))
print(cumulative_confirmed_lag[0])

108
0

In [48]:
cumulative_confirmed_lag.pop()
print(len(cumulative_confirmed_lag))
print(cumulative_confirmed_lag[-1])

107
439

In [49]:
print(cumulative_confirmed)
print(cumulative_confirmed_lag)

[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440]
[0, 1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439]

In [57]:
#daily_increase = ?
daily_increase = []
day0_increase = cumulative_confirmed[0] - cumulative_confirmed_lag[0]
print(day0_increase)
daily_increase.append(day0_increase)

1

In [58]:
day1_increase = cumulative_confirmed[1] - cumulative_confirmed_lag[1]
print(day1_increase)
daily_increase.append(day1_increase)

0

In [59]:
day2_increase = cumulative_confirmed[2] - cumulative_confirmed_lag[2]
print(day2_increase)
daily_increase.append(day2_increase)

2

In [60]:
daily_increase

[1, 0, 2]

In [61]:
day106_increase = cumulative_confirmed[106] - cumulative_confirmed_lag[106]
print(day106_increase)

1

In [63]:
daily_increase = []
i = 0
while i < 107:
    dayn_increase = cumulative_confirmed[i] - cumulative_confirmed_lag[i]
    print("Day {}: 每日新增確診人數 {}".format(i, dayn_increase))
    daily_increase.append(dayn_increase)
    i += 1

Day 0: 每日新增確診人數 1
Day 1: 每日新增確診人數 0
Day 2: 每日新增確診人數 2
Day 3: 每日新增確診人數 0
Day 4: 每日新增確診人數 1
Day 5: 每日新增確診人數 1
Day 6: 每日新增確診人數 3
Day 7: 每日新增確診人數 0
Day 8: 每日新增確診人數 1
Day 9: 每日新增確診人數 1
Day 10: 每日新增確診人數 0
Day 11: 每日新增確診人數 0
Day 12: 每日新增確診人數 0
Day 13: 每日新增確診人數 1
Day 14: 每日新增確診人數 0
Day 15: 每日新增確診人數 5
Day 16: 每日新增確診人數 0
Day 17: 每日新增確診人數 1
Day 18: 每日新增確診人數 1
Day 19: 每日新增確診人數 0
Day 20: 每日新增確診人數 0
Day 21: 每日新增確診人數 0
Day 22: 每日新增確診人數 0
Day 23: 每日新增確診人數 0
Day 24: 每日新增確診人數 0
Day 25: 每日新增確診人數 2
Day 26: 每日新增確診人數 2
Day 27: 每日新增確診人數 0
Day 28: 每日新增確診人數 1
Day 29: 每日新增確診人數 1
Day 30: 每日新增確診人數 2
Day 31: 每日新增確診人數 0
Day 32: 每日新增確診人數 2
Day 33: 每日新增確診人數 2
Day 34: 每日新增確診人數 1
Day 35: 每日新增確診人數 1
Day 36: 每日新增確診人數 0
Day 37: 每日新增確診人數 2
Day 38: 每日新增確診人數 5
Day 39: 每日新增確診人數 1
Day 40: 每日新增確診人數 1
Day 41: 每日新增確診人數 1
Day 42: 每日新增確診人數 0
Day 43: 每日新增確診人數 2
Day 44: 每日新增確診人數 1
Day 45: 每日新增確診人數 0
Day 46: 每日新增確診人數 0
Day 47: 每日新增確診人數 0
Day 48: 每日新增確診人數 2
Day 49: 每日新增確診人數 1
Day 50: 每日新增確診人數 1
Day 51: 每日新增確診人數 1
Day 52: 每日新增確診人數 3
Day 53: 每日新增確診人數 6
Day 54: 每日新增確診人數 8
Day 55: 每日新增確診人數 10
Day 56: 每日新增確診人數 23
Day 57: 每日新增確診人數 8
Day 58: 每日新增確診人數 27
Day 59: 每日新增確診人數 18
Day 60: 每日新增確診人數 16
Day 61: 每日新增確診人數 26
Day 62: 每日新增確診人數 20
Day 63: 每日新增確診人數 20
Day 64: 每日新增確診人數 17
Day 65: 每日新增確診人數 15
Day 66: 每日新增確診人數 16
Day 67: 每日新增確診人數 15
Day 68: 每日新增確診人數 8
Day 69: 每日新增確診人數 16
Day 70: 每日新增確診人數 7
Day 71: 每日新增確診人數 10
Day 72: 每日新增確診人數 9
Day 73: 每日新增確診人數 7
Day 74: 每日新增確診人數 8
Day 75: 每日新增確診人數 10
Day 76: 每日新增確診人數 3
Day 77: 每日新增確診人數 3
Day 78: 每日新增確診人數 1
Day 79: 每日新增確診人數 2
Day 80: 每日新增確診人數 3
Day 81: 每日新增確診人數 3
Day 82: 每日新增確診人數 5
Day 83: 每日新增確診人數 0
Day 84: 每日新增確診人數 2
Day 85: 每日新增確診人數 0
Day 86: 每日新增確診人數 0
Day 87: 每日新增確診人數 3
Day 88: 每日新增確診人數 22
Day 89: 每日新增確診人數 2
Day 90: 每日新增確診人數 3
Day 91: 每日新增確診人數 1
Day 92: 每日新增確診人數 1
Day 93: 每日新增確診人數 1
Day 94: 每日新增確診人數 1
Day 95: 每日新增確診人數 0
Day 96: 每日新增確診人數 0
Day 97: 每日新增確診人數 0
Day 98: 每日新增確診人數 0
Day 99: 每日新增確診人數 0
Day 100: 每日新增確診人數 0
Day 101: 每日新增確診人數 3
Day 102: 每日新增確診人數 4
Day 103: 每日新增確診人數 2
Day 104: 每日新增確診人數 0
Day 105: 每日新增確診人數 1
Day 106: 每日新增確診人數 1

In [64]:
print(len(daily_increase))
print(daily_increase[:10])
print(daily_increase[-10:])

107
[1, 0, 2, 0, 1, 1, 3, 0, 1, 1]
[0, 0, 0, 0, 3, 4, 2, 0, 1, 1]